.live-casino {
  width: 100%;
}

.live-casino-banner {
  width: 100%;
  background-image: url("https://content.playlogiq.com/storage/slider/16258252761006.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.live-casino-banner .banner_desc {
  max-width: 1352px;
  margin: 0 auto;
  padding: 100px 0px 6px 0px;
  position: relative;
}

.live-casino-banner .banner_desc > h4 {
  margin: 0px 0px 25px;
  font-size: 36px;
  color: #f2f2f2;
}

.live-casino-banner .banner_desc > h6 {
  margin: 25px 0px 0px;
  font-size: 25px;
  color: #f2f2f2;
}

.live-casino-banner .banner_desc .Play > button {
  font-size: 24px;
  color: #f2f2f2;
  position: absolute;
  top: 294px;
  white-space: nowrap;
  background: #1ab7af;
  border-radius: 3px;
  padding: 8px 50px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.live-casino-banner .banner_desc .Play > button:hover {
  background-color: #32e7de;
}

.link {
  background: #313d42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1352px;
  margin: 0 auto;
  border-bottom: 2px dashed #908f8f;
  line-height: 0;
  color: #e2e2e2;
}

@media (max-width: 1088px) {
  .link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.link-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  min-width: 70%;
}

@media (max-width: 1088px) {
  .link-live {
    padding: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.link-live > p {
  margin-left: 20px;
  cursor: pointer;
  margin-top: revert !important;
  margin-bottom: revert !important;
  color: #a7a7a7;
  font-weight: bolder;
}

.link-live .heart.active,
.link-live .link-category,
.link-live .all-games.active,
.link-live > p.active {
  color: white;
  opacity: 1;
  font-weight: bold;
}

.link-live .heart {
  padding: 10px;
  background: #4a5c64;
  border-radius: 50px;
  cursor: pointer;
}

.link-live .heart > i {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.link .search-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.link .search-game .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  background: #4e5d63;
  padding: 20px;
  border-right: 1px solid #999898;
}

@media (max-width: 1088px) {
  .link .search-game .search {
    width: 80%;
  }
}

.link .search-game .search > p,
.link .search-game .search .fas.fa-search {
  margin: auto 0;
  padding: 0 5px;
  color: #c5c5c5;
}

.link .search-game .provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  background: #4e5d63;
  padding: 20px;
}

@media (max-width: 1088px) {
  .link .search-game .provider {
    min-width: auto;
  }
}

.link .search-game .provider > p,
.link .search-game .provider .fas.fa-search {
  margin: auto;
  padding: 0 5px;
  color: #c5c5c5;
  margin-left: 68px;
}

@media (max-width: 1088px) {
  .link .search-game .provider > p,
  .link .search-game .provider .fas.fa-search {
    margin: unset;
  }
}

.Slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 20px 0;
}

.Slot .sort-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Slot .sort-category > h2 {
  font-weight: bold;
  font-size: 28px;
  color: whitesmoke;
}

.Slot .sort-category > span {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto 0;
}

.Slot .sort-category > span > h3 {
  color: #a3a0a0;
  padding: 0 20px;
  cursor: pointer;
}

.Slot .slot-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[7];
      grid-template-columns: repeat(7, auto);
}

.Slot .slot-images div.item-slots {
  padding: 0 3px;
  margin: auto;
}

.Slot .slot-images div.item-slots .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d4d4d4;
}

.Slot .slot-images div.item-slots .link-slot > img {
  width: 187px;
  height: 142px;
  border-radius: 10px;
  height: 112px;
}

.Slot .slot-images div.item-slots .link-slot > img:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.Slot .all-slot-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

.Slot div.item-slots-all {
  padding: 0 3px;
  margin: auto;
}

.Slot div.item-slots-all > h1 {
  color: #ffba24;
  font-weight: bold;
}

.Slot div.item-slots-all .link-slot-all > img {
  width: 321px;
  height: 235px;
  border-radius: 10px;
}

.Slot div.item-slots-all .link-slot-all > img:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  z-index: -1;
}

.Slot div.item-slots-all .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d4d4d4;
}

.Slot > span {
  text-align: center;
  padding: 20px 0;
  color: white;
  cursor: pointer;
}

.Slot > span > .fas.fa-sync-alt {
  color: inherit;
  font-size: 30px;
  -webkit-animation: load 2s infinite linear;
          animation: load 2s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    color: #1ab7af;
  }
  50% {
    -webkit-transform: translateY(10px) rotate(180deg);
            transform: translateY(10px) rotate(180deg);
    color: #ffba24;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
    color: #1ab7af;
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    color: #1ab7af;
  }
  50% {
    -webkit-transform: translateY(10px) rotate(180deg);
            transform: translateY(10px) rotate(180deg);
    color: #ffba24;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
    color: #1ab7af;
  }
}

.Slot > p {
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  margin-top: revert !important;
  margin-bottom: revert !important;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 50%; */
  background: rgba(0, 0, 0, 0.8);
  /* min-width: 1080px;
  max-width: 1200px; */
  z-index: 999999;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.modalBackground .modalContainer {
  min-width: 1080px;
  max-width: 1200px;
  height: 500px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 500px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modalBackground .modalContainer .titleCloseBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: -581px;
  top: -44px;
  border-radius: 50%;
}

.modalBackground .modalContainer .titleCloseBtn > button {
  background-color: white;
  border: none;
  color: #4a5c64;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 50%;
}

.modalBackground .modalContainer .search-modal {
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #cfcfcf;
}

.modalBackground .modalContainer .search-modal .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.modalBackground .modalContainer .search-modal .search .search-input {
  min-width: 98%;
  border: none;
  outline: none;
  padding-left: 38px;
  background: inherit;
}

.modalBackground .modalContainer .search-modal .search .search-input::-webkit-input-placeholder {
  color: #302f2f;
}

.modalBackground .modalContainer .search-modal .search .search-input:-ms-input-placeholder {
  color: #302f2f;
}

.modalBackground .modalContainer .search-modal .search .search-input::-ms-input-placeholder {
  color: #302f2f;
}

.modalBackground .modalContainer .search-modal .search .search-input::placeholder {
  color: #302f2f;
}

.modalBackground .modalContainer .search-modal .search > i {
  position: absolute;
  top: 14px;
  left: 15px;
}

.modalBackground .modalContainer .search-modal .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  position: relative;
}

.modalBackground .modalContainer .search-modal .filters p {
  margin: auto 0;
  padding: 0 6px;
}

.modalBackground .modalContainer .search-modal .filters .search-providers-counter {
  position: absolute;
  top: 0;
  right: 4px;
  width: 20px;
  height: 20px;
  background: #3838d1;
  color: white;
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.modalBackground .modalContainer .content {
  width: 100%;
  padding: 17px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  overflow-y: scroll;
  background: #2f3f3e;
}

.modalBackground .modalContainer .content .one--content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.modalBackground .modalContainer .content .one--content > span {
  display: block;
  padding: 5px;
}

.modalBackground .modalContainer .content .one--content > span > h3 {
  color: white;
}

.modalBackground .modalContainer .content .one--content > span > img {
  width: 100px;
  height: 100px;
}

.modalBackground .modalContainer .content-toggle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  width: 100%;
  overflow-y: scroll;
}

.modalBackground .modalContainer .content-toggle .one--content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  background-color: #2f3f3e;
}

.modalBackground .modalContainer .content-toggle .one--content > span {
  display: block;
  padding: 5px;
}

.modalBackground .modalContainer .content-toggle .one--content > span > h3 {
  color: white;
}

.modalBackground .modalContainer .content-toggle .one--content > span > img {
  width: 100px;
  height: 100px;
}

.modalBackground .modalContainer .content-toggle .two--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 16px;
}

.modalBackground .modalContainer .content-toggle .two--content > div > h1 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 50px;
  text-transform: capitalize;
}

.modalBackground .modalContainer .content-toggle .two--content > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modalBackground .modalContainer .content-toggle .two--content > div > span > p {
  font-weight: bold;
  font-style: 13px;
  font-weight: normal;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 5px 12px;
  margin: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */