.sport {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #313d42;
  line-height: 42px;
}

.sport__max {
  width: 100%;
  max-width: 1352px;
  margin: auto;
  border-left: 1px solid #425057;
  border-right: 1px solid #425057;
}

.sport__max .navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3c494e;
  border-bottom: 2px solid #425057;
}

@media (max-width: 441px) {
  .sport__max .navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sport__max .navigation-container-wrapper {
  display: inline-block !important;
  width: auto;
}

@media (max-width: 441px) {
  .sport__max .navigation-container-wrapper {
    background: #4d5d64;
    border-bottom: 1px solid #6d7174;
  }
}

.sport__max .navigation-container-wrapper .sport-home,
.sport__max .navigation-container-wrapper .daily-events,
.sport__max .navigation-container-wrapper .all-events,
.sport__max .navigation-container-wrapper .in-play-calendar {
  font-size: 11px;
  height: 100%;
  font-weight: 700;
  padding: 3px 11px 0;
  display: inline-block;
  cursor: pointer;
  color: #ebebeb;
}

.sport__max .navigation-container-wrapper .sport-home:hover,
.sport__max .navigation-container-wrapper .daily-events:hover,
.sport__max .navigation-container-wrapper .all-events:hover,
.sport__max .navigation-container-wrapper .in-play-calendar:hover {
  color: #1ab7af;
}

.sport__max .navigation-container > span {
  font-size: 11px;
  height: 100%;
  font-weight: 700;
  padding: 3px 11px 0;
  display: inline-block;
  cursor: pointer;
  color: #ebebeb;
  border-left: 1px solid #6d7174;
  height: 100%;
}

@media (max-width: 441px) {
  .sport__max .navigation-container > span {
    border: none;
    text-align: center;
    background: #4d5d64;
  }
}

.sport__max .navigation-container > span:hover {
  color: #1ab7af;
}

.sport__max .navigation-container > span > i.fas.fa-question {
  color: #3c494e;
  background-color: #ebebeb;
  padding: 4px;
  font-size: 10px;
  border-radius: 50px;
  margin: 0 4px;
}

.sport__max .navigation-container > span > i.fas.fa-question:hover {
  color: #1ab7af;
}

.sport .all-container-sportbook {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
}

.sport .all-container-sportbook .left-sport > p {
  color: white;
}

.sport .all-container-sportbook .left-menu-sportbook {
  min-width: 243px;
  z-index: 99999;
}

.sport .all-container-sportbook .left-menu-sportbook .sport-menu-toggle {
  background: #3c494e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  line-height: 20px;
  border-bottom: 2px solid #425057;
}

.sport .all-container-sportbook .left-menu-sportbook .sport-menu-toggle > p {
  margin: auto 0;
  color: #ffba24;
  font-weight: bolder;
  font-size: 12px;
}

.sport .all-container-sportbook .left-menu-sportbook .sport-menu-toggle > i.fas.fa-align-right {
  background: #3f4d52;
  color: white;
  padding: 10px;
  border: 1px solid #475a61;
  cursor: pointer;
}

.sport .all-container-sportbook .left-menu-sportbook .sport-menu-toggle > i.fas.fa-align-right:hover {
  color: #1ab7af;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle {
  padding: 0 10px;
  background: #3c494e;
  border-bottom: 2px solid #425057;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .search-event-toggle {
  background: #3c494e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .search-event-toggle > p {
  margin: auto 0;
  color: #ffba24;
  font-weight: bolder;
  font-size: 12px;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .search-event-toggle i.fas.fa-angle-up,
.sport .all-container-sportbook .left-menu-sportbook .event-toggle .search-event-toggle i.fas.fa-angle-down {
  color: white;
  padding: 10px;
  cursor: pointer;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .search-event-toggle i.fas.fa-angle-up:hover,
.sport .all-container-sportbook .left-menu-sportbook .event-toggle .search-event-toggle i.fas.fa-angle-down:hover {
  color: #1ab7af;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .desc-box {
  padding: 10px 30px;
  background-color: #313d42;
  line-height: 18px;
  margin-top: 12px;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .desc-box > p {
  font-size: 12px;
  text-align: center;
  color: #ebebeb;
  font-weight: 400;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .desc-box > span {
  position: relative;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .desc-box > span input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 21px;
  font-size: 12px;
  padding-left: 35px;
  background-color: #45545a;
  z-index: 1;
  border: 1px solid #45545a;
  outline: none;
  color: white;
  -webkit-text-fill-color: white;
}

.sport .all-container-sportbook .left-menu-sportbook .event-toggle .desc-box > span .fa.fa-search {
  position: absolute;
  left: 12px;
  z-index: 1;
  top: 2px;
  color: white;
  line-height: 100%;
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter {
  background: #3c494e;
  padding: 0 10px;
  line-height: 20px;
  border-bottom: 2px solid #425057;
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter > p {
  margin: auto 0;
  color: #ffba24;
  font-weight: bolder;
  font-size: 12px;
  line-height: 30px;
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter .tabs-for-hour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter .tabs-for-hour > span {
  border: 1px solid #2a373c;
  cursor: pointer;
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter .tabs-for-hour > span.active {
  background: #2a373c;
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter .tabs-for-hour > span.active > p {
  color: #ffba24;
}

.sport .all-container-sportbook .left-menu-sportbook .quick-filter .tabs-for-hour > span > p {
  margin: auto;
  color: #ebebeb;
  text-align: center;
  font-size: 12px;
}

.sport .all-container-sportbook .left-menu-sportbook .in-play-button {
  background: #2a373c;
  padding: 0 10px;
  line-height: 20px;
  border-bottom: 2px solid #425057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffba24;
  cursor: pointer;
}

.sport .all-container-sportbook .left-menu-sportbook .in-play-button:hover {
  color: #1ab7af;
}

.sport .all-container-sportbook .left-menu-sportbook .in-play-button > p {
  margin-top: 1em;
  font-weight: 700;
}

.sport .all-container-sportbook .left-menu-sportbook .in-play-button i.fas.fa-stopwatch {
  margin: auto 10px;
}

.sport .all-container-sportbook .middle-menu-sportbook {
  min-width: 243px;
}

.sport .all-container-sportbook .middle-menu-sportbook .image-menu {
  position: relative;
}

.sport .all-container-sportbook .middle-menu-sportbook .image-menu > img {
  width: 100%;
  height: 282px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sport .all-container-sportbook .middle-menu-sportbook .image-menu > span {
  position: absolute;
  top: 20px;
  left: 40px;
  line-height: 40px;
}

@media (max-width: 1123px) {
  .sport .all-container-sportbook .middle-menu-sportbook .image-menu > span {
    left: 80px;
  }
}

@media (max-width: 9123px) {
  .sport .all-container-sportbook .middle-menu-sportbook .image-menu > span {
    left: 110px;
  }
}

.sport .all-container-sportbook .middle-menu-sportbook .image-menu > span > h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  /* @media (max-width: 700px) {
              font-size: 29px;
            } */
}

.sport .all-container-sportbook .middle-menu-sportbook .image-menu > span p {
  font-size: 20px;
  font-weight: 500;
  color: white;
  /*  @media (max-width: 700px) {
              font-size: 19px;
            } */
}

.sport .all-container-sportbook .middle-menu-sportbook .image-menu > span .button__Link {
  position: relative;
  top: 70px;
  font-size: 18px;
  color: #f2f2f2;
  white-space: nowrap;
  background: #1ab7af;
  border-radius: 3px;
  padding: 7px 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 700px) {
  .sport .all-container-sportbook .middle-menu-sportbook .image-menu > span .button__Link {
    font-size: 20px;
    padding: 8px 40px;
  }
}

.sport .all-container-sportbook .right-menu-sportbook {
  background: #3c494e;
  min-width: 200px;
  z-index: 99999;
}

.sport .all-container-sportbook .right-menu-sportbook .betting-left-menu {
  border: 1px solid #3d4c52;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  color: #1ab7af;
  font-weight: bolder;
  font-size: 12px;
  line-height: 12px;
}

.sport .all-container-sportbook .right-menu-sportbook .betting-left-menu > span.betslip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #3c545d;
  height: 100%;
}

.sport .all-container-sportbook .right-menu-sportbook .betting-left-menu > span.betslip .counter {
  margin: 0 6px;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1px;
  width: 14px;
  height: 14px;
  background-color: #1ab7af;
  border-radius: 50px;
}

.sport .all-container-sportbook .right-menu-sportbook .betting-left-menu > span#betting {
  color: whitesmoke;
  margin: 0 6px;
}

.sport .all-container-sportbook .right-menu-sportbook .desc-box {
  padding: 10px 30px;
  background-color: #313d42;
  line-height: 18px;
  margin-top: 12px;
}

.sport .all-container-sportbook .right-menu-sportbook .desc-box > p {
  font-size: 13px;
  text-align: center;
  color: #ebebeb;
  font-weight: 400;
}

.sport .all-container-sportbook .right-menu-sportbook .left {
  margin: auto 0;
  color: #ffba24;
  font-weight: bolder;
  font-size: 12px;
}

.sport .all-container-sportbook .right-menu-sportbook .left > span {
  padding: 0 10px;
}

.sport .all-container-sportbook .right-menu-sportbook .left .last-winnings-table {
  margin: auto;
  width: 100%;
  text-align: center;
  border: 1px solid #2e393d;
  color: #ebe8e8;
}

.sport .all-container-sportbook .right-menu-sportbook .left .last-winnings-table .last-winnings-thead {
  background-color: #47565c;
  display: table-row-group;
}

.sport .all-container-sportbook .right-menu-sportbook .left .last-winnings-table .last-winnings-thead > td {
  border-bottom: 1px solid #2d424a;
  border-top: 1px solid #42545a;
  border-left: 1px solid #2d424a;
  border-right: 1px solid #3d4c52;
  line-height: 28px;
  font-size: 11px;
  font-weight: 500;
}

.sport .all-container-sportbook .right-menu-sportbook .left .last-winnings-table .last-winnings-body {
  background: #3c494e;
  line-height: 28px;
  font-size: 12px;
  font-weight: 500;
}

.sport .all-container-sportbook .right-menu-sportbook .left .last-winnings-table .last-winnings-body .last-winnings-title-heading-desc > td {
  border-bottom: 1px solid #2d424a;
  border-top: 1px solid #42545a;
  border-left: 1px solid #3c545d;
  border-right: 1px solid #3c545d;
}
/*# sourceMappingURL=style.css.map */