.link {
  background: #313d42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
  max-width: 1352px;
  margin: 0 auto;
  border-bottom: 2px dashed rgb(144, 143, 143);
  line-height: 0;
  color: rgb(226, 226, 226);
  @media (max-width: 1088px) {
    flex-direction: column-reverse;
  }
  &-live {
    display: flex;
    padding: 30px 0;
    white-space: nowrap;
    letter-spacing: 0.2px;
    font-size: 11px;
    font-weight: 700;
    @media (max-width: 1088px) {
      padding: 10px 0;
      width: 100%;
      overflow-x: scroll;
    }

    > p {
      margin-left: 10px;
      cursor: pointer;
      margin-top: 15px !important;
      margin-bottom: revert !important;
      color: rgb(167, 167, 167);
      font-weight: bolder;
      font-size: 11px;

      @media (max-width: 665px) {
        min-width: 100px;
      }
    }

    .heart.active,
    .link-category,
    .all-games.active,
    > p.active {
      color: rgb(255, 255, 255);
      opacity: 1;
      font-weight: bold;
      font-size: 13px;
    }

    .heart {
      padding: 10px;
      background: #4a5c64;
      border-radius: 50px;
      cursor: pointer;

      > i {
        display: grid;
        place-content: center;
      }
    }
  }

  .search-game {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .search {
      display: flex;
      align-items: center;
      align-content: center;
      width: 200px;
      background: #4e5d63;
      padding: 20px;
      border-right: 1px solid rgb(153, 152, 152);
      @media (max-width: 1338px) {
        width: 80%;
      }
      > p,
      .fas.fa-search {
        margin: auto 0;
        padding: 0 5px;
        color: rgb(197, 197, 197);
        @media (max-width: 1338px) {
          padding: 0 2px;
        }
      }
    }

    .provider {
      display: flex;
      align-items: center;
      align-content: center;
      width: 200px;
      background: #4e5d63;
      padding: 20px;
      @media (max-width: 1088px) {
        min-width: auto;
      }
      > p,
      .fas.fa-search {
        margin: auto;
        padding: 0 5px;
        color: #c5c5c5;
        margin-left: 68px;
        @media (max-width: 1088px) {
          margin: unset;
        }
      }
    }
  }
}

.Slot {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 20px 0;

  .category-all-games {
    display: flex;
    flex-flow: row wrap;
    .category-games {
      .category-item {
        font-weight: bold;
        font-size: 20px;
        color: white;
        display: flex;
        align-items: center;
        align-content: center;
        > p {
          margin: auto 0;
        }
        &::before {
          content: "ï­";
          font-family: "Font Awesome 5 Free";
          color: rgb(255, 29, 29);
          width: 30px;
          font-size: 30px;
        }
      }

      > div > div {
        .images-name {
          > img {
            object-fit: cover;
            width: 200px;
          }
          > span {
            display: flex;
            > i {
              line-height: 30px;
            }
          }
        }
      }
    }
  }

  .category-item-games {
    display: grid;
    grid-template-columns: repeat(7, auto);

    .images-name {
      display: block;
      margin: auto;

      > img {
        width: 180px;
        height: 180px;
        border-radius: 7%;
      }

      > span {
        display: flex;
        flex-flow: row wrap;
        color: rgb(255, 255, 255);
        justify-content: space-between;
        padding: 0 3px;
        > i {
          margin: 6px 0;
        }
      }
    }
  }

  > p {
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 12px !important;
    margin-bottom: revert !important;
    font-size: 29px;
    color: rgb(238, 238, 238);
    line-height: 1;
  }
}
