.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.popupBackground .popupContainer {
  width: 377px;
  height: 303px;
  border-radius: 5px;
  background-color: #313d42;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: zoomPopup 1s linear;
          animation: zoomPopup 1s linear;
  /*  @keyframes zoomPopup {
      0% {
        transform: scale(0);
        display: grid;
        place-content: center;
        place-items: center;
      }
      100% {
        transform: scale(1);
        display: grid;
        place-content: center;
        place-items: center;
      }
    }
 */
}

.popupBackground .popupContainer .titleCloseButtonLog {
  cursor: pointer;
}

.popupBackground .popupContainer .titleCloseButtonLog i.fas.fa-times {
  position: absolute;
  right: 7px;
  top: 5px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.popupBackground .popupContainer .login--Popup .logo {
  position: relative;
  top: 20px;
}

.popupBackground .popupContainer .login--Popup .logo > img {
  padding: 0 50px;
  -webkit-filter: drop-shadow(2px 4px 6px #000);
          filter: drop-shadow(2px 4px 6px #000);
  margin: 0 auto;
  display: block;
  height: 60px;
}

.popupBackground .popupContainer .login--Popup .form--login {
  display: -ms-grid;
  display: grid;
  width: calc(100% - 138px);
  margin: 45px auto;
}

.popupBackground .popupContainer .login--Popup .form--login input[type="email"],
.popupBackground .popupContainer .login--Popup .form--login input[type="text"],
.popupBackground .popupContainer .login--Popup .form--login input[type="password"] {
  line-height: 30px;
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 0 30px;
}

.popupBackground .popupContainer .login--Popup .form--login .create--acc,
.popupBackground .popupContainer .login--Popup .form--login .login--button {
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: #f8ad1699;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.popupBackground .popupContainer .login--Popup .form--login .create--acc:hover,
.popupBackground .popupContainer .login--Popup .form--login .login--button:hover {
  background-color: #1ab7af;
}

.popupBackground .popupContainer .login--Popup .form--login > p {
  color: white;
  text-align: end;
  margin-top: 15px;
  cursor: pointer;
}

.popupBackground .popupContainer .login--Popup .form--login > p:hover {
  color: #1ab7af;
}

.popupBackground .create--account--form {
  width: 377px;
  height: 332px;
  border-radius: 5px;
  background-color: #313d42;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: zoomPopup 1s linear;
          animation: zoomPopup 1s linear;
}

.popupBackground .create--account--form .titleCloseButtonLog {
  cursor: pointer;
}

.popupBackground .create--account--form .titleCloseButtonLog i.fas.fa-times {
  position: absolute;
  right: 7px;
  top: 5px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.popupBackground .create--account--form .login--Popup .logo {
  position: relative;
  top: 20px;
}

.popupBackground .create--account--form .login--Popup .logo > img {
  padding: 0 50px;
  -webkit-filter: drop-shadow(2px 4px 6px #000);
          filter: drop-shadow(2px 4px 6px #000);
  margin: 0 auto;
  display: block;
  height: 60px;
}

.popupBackground .create--account--form .login--Popup .form--login {
  display: -ms-grid;
  display: grid;
  width: calc(100% - 138px);
  margin: 45px auto;
}

.popupBackground .create--account--form .login--Popup .form--login input[type="email"],
.popupBackground .create--account--form .login--Popup .form--login input[type="text"],
.popupBackground .create--account--form .login--Popup .form--login input[type="password"] {
  line-height: 30px;
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 0 30px;
}

.popupBackground .create--account--form .login--Popup .form--login .create--acc,
.popupBackground .create--account--form .login--Popup .form--login .login--button {
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: #f8ad1699;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.popupBackground .create--account--form .login--Popup .form--login .create--acc:hover,
.popupBackground .create--account--form .login--Popup .form--login .login--button:hover {
  background-color: #1ab7af;
}

.popupBackground .create--account--form .login--Popup .form--login > p {
  color: white;
  text-align: end;
  margin-top: 15px;
  cursor: pointer;
}

.popupBackground .create--account--form .login--Popup .form--login > p:hover {
  color: #1ab7af;
}
/*# sourceMappingURL=style.css.map */