.slotHome {
  width: 100%;
  background: #354044;
  padding: 10px 0;
  margin: auto auto;
}

.slotHome__all {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 204px) and (max-width: 700px) {
  .slotHome__all {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.slotHome__all .all__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 13px;
  padding: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.slotHome__all .all__link > i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 20px;
  font-size: 30px;
  color: #f0f0f0;
  margin-bottom: 18px;
}

.slotHome__all .all__link > span > h2 {
  font-weight: bold;
  color: white;
  font-size: 23px;
}

.slotHome__all .all__link > span > p {
  color: #3fa7a1;
  font-weight: bold;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #354044;
  border-bottom: 1px solid #475a61;
  padding-bottom: 35px;
}

.card__all {
  width: 100%;
  max-width: 1243px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1235px) {
  .card__all {
    margin: 0 auto;
  }
}

.card__all .content {
  position: relative;
  height: 190px;
  background: #435258;
  width: 380px;
  border-radius: 7px;
}

@media (max-width: 1235px) {
  .card__all .content {
    margin: 20px auto;
  }
}

@media (max-width: 443px) {
  .card__all .content {
    width: 100%;
  }
}

.card__all .content:hover .play__btn {
  display: block;
  position: absolute;
  top: 70%;
  left: 20px;
  background: #435258;
  outline: none;
  border: none;
  color: white;
  padding: 5px 10px;
}

.card__all .content > img {
  position: relative;
  width: 100%;
  height: 130px;
  margin-top: 46px;
  border-top: 1px solid #1fb1a9;
  border-bottom: 1px solid #1fb1a9;
}

.card__all .content > h4 {
  position: absolute;
  top: 0;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin-top: 7px;
  color: #f1f1f1;
  width: 100%;
}

@media (max-width: 443px) {
  .card__all .content > h4 {
    font-size: 15px;
  }
}

.card__all .content > p {
  position: absolute;
  top: 40%;
  left: 20px;
  color: white;
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 2px;
  text-shadow: 1px 1px #4b4949;
  font-weight: 500;
  width: 48%;
}

@media (max-width: 443px) {
  .card__all .content > p {
    text-align: center;
    left: 40px;
    font-size: 13px;
  }
}

.card__all .content .play__btn {
  display: none;
}

.banner1,
.banner2 {
  position: relative;
}

.banner1 > span,
.banner2 > span {
  position: absolute;
  top: 64px;
  left: 110px;
  line-height: 40px;
}

@media (max-width: 700px) {
  .banner1 > span,
  .banner2 > span {
    top: 50px;
    left: 60px;
  }
}

.banner1 > span > h1,
.banner2 > span > h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
}

@media (max-width: 700px) {
  .banner1 > span > h1,
  .banner2 > span > h1 {
    font-size: 29px;
  }
}

.banner1 > span p,
.banner2 > span p {
  font-size: 22px;
  font-weight: 500;
  color: white;
}

@media (max-width: 700px) {
  .banner1 > span p,
  .banner2 > span p {
    font-size: 19px;
  }
}

.banner1 > span .button__Link,
.banner2 > span .button__Link {
  position: relative;
  top: 100px;
  font-size: 24px;
  color: #f2f2f2;
  white-space: nowrap;
  background: #1ab7af;
  border-radius: 3px;
  padding: 12px 70px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 700px) {
  .banner1 > span .button__Link,
  .banner2 > span .button__Link {
    font-size: 20px;
    padding: 8px 40px;
  }
}
/*# sourceMappingURL=style.css.map */