.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3c494e;
  border-bottom: 1px solid #475a61;
  padding: 5px 0;
  line-height: 42px;
}

.header__max {
  width: 100%;
  max-width: 1352px;
  margin: 0px auto;
  -webkit-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__max .form input[type="text"],
.header__max .form input[type="password"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 155px;
  height: 26px;
  line-height: 21px;
  font-size: 12px;
  padding-left: 35px;
  background-color: #313d42;
  z-index: 1;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #45545a;
  outline: none;
  color: white;
  -webkit-text-fill-color: white;
}

.header__max .form i.fas.fa-user,
.header__max .form i.fas.fa-key {
  position: absolute;
  left: 12px;
  z-index: 1;
  top: 2px;
  color: white;
  line-height: 100%;
}

.header__max .form #pikpytje {
  width: 30px;
  height: 26px;
  margin: 0 20px;
  background: #4a5c64;
  border: 1px solid #313d42;
  color: white;
  line-height: 21px;
  cursor: pointer;
}

.header__max .form #login,
.header__max .form #register {
  border: none;
  outline: none;
  width: auto;
  position: relative;
  height: 26px;
  line-height: 21px;
  margin: 0 10px;
  padding: 0 20px;
  background: #ffba24;
  cursor: pointer;
  color: #3f3f3f;
  font-weight: bolder;
  border-radius: 2px;
}

.header__max .social {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.header__max .social .support,
.header__max .social .socials {
  border-right: 1px solid #354044;
  cursor: pointer;
}

.header__max .social .support:hover,
.header__max .social .socials:hover {
  background-color: #45565e;
}

@media (max-width: 792px) {
  .header__max .social .support,
  .header__max .social .socials {
    border-right: none;
  }
}

.header__max .social .support .fas.fa-sms,
.header__max .social .support i.fab.fa-instagram,
.header__max .social .support i.fab.fa-facebook,
.header__max .social .socials .fas.fa-sms,
.header__max .social .socials i.fab.fa-instagram,
.header__max .social .socials i.fab.fa-facebook {
  color: #dfdfdf;
  font-size: 26px;
  margin: 0px 10px;
  line-height: 44px;
}

.header__max .social .support {
  border-left: 1px solid #354044;
  border-right: 1px solid #354044;
  cursor: pointer;
}

.header__max .social .support:hover {
  background-color: #45565e;
}

@media (max-width: 792px) {
  .header__max .social .support {
    border-right: none;
    border-left: none;
  }
}

.header__max .social span.lang {
  border-right: 1px solid #354044;
}

.header__max .social span.lang:hover {
  background-color: #45565e;
}

@media (max-width: 792px) {
  .header__max .social span.lang {
    border-right: none;
  }
}

.header__max .social .lang {
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  vertical-align: middle;
  color: black;
  outline: none;
  padding: 0 7px;
  cursor: pointer;
}

.header__max .social .lang select#lang {
  height: 30px;
  color: #dddcdc;
  background: #4a5c64;
}

.home__other {
  width: 100%;
  display: -ms-grid;
  display: grid;
  background: #3c494e;
  border-bottom: 1px solid #475a61;
  min-height: 100px;
  padding: 10px 0;
  place-items: center;
}

.home__other .other {
  width: 100%;
  max-width: 1352px;
  margin: 0px auto;
  -webkit-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 617px) {
  .home__other .other .log {
    margin: auto;
  }
}

.home__other .other .log > img {
  height: 43px;
  width: 145px;
  -webkit-filter: drop-shadow(2px 4px 6px #000);
          filter: drop-shadow(2px 4px 6px #000);
}

.home__other .other .hour-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
}

.home__other .other .hour-top .top > img {
  height: 40px;
}

@media (max-width: 810px) {
  .home__other .other .hour-top .top > img {
    display: none;
  }
}

.home__other .other .hour-top .before,
.home__other .other .hour-top .after {
  content: "";
  width: 6px;
  top: 6px;
  position: relative;
  height: 30px;
  background: #414d52;
  border: 1px solid #737c80;
}

@media (max-width: 810px) {
  .home__other .other .hour-top .before,
  .home__other .other .hour-top .after {
    display: none;
  }
}

.home__other .other .hour-top .after {
  border-left: none;
}

.home__other .other .hour-top .before {
  border-right: none;
}

.home__other .other .hour-top .date {
  background: #004e62;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0 20px;
  padding-left: 19px;
  position: relative;
  border: 1px solid #346c6a;
  width: calc(100% - 115px);
  /* #hour {
          &::before {
            content: "H";
            position: absolute;
            left: 0;
          }
        }

        #seconds {
          &::before {
            content: "S";
            position: absolute;
            left: 40px;
          }
        }
        #minute {
          &::before {
            content: "M";
            position: absolute;
            left: 20px;
          }
        } */
}

@media (max-width: 810px) {
  .home__other .other .hour-top .date {
    display: none;
  }
}

.home__other .other .hour-top .date #hour,
.home__other .other .hour-top .date #minute,
.home__other .other .hour-top .date #seconds {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 6px;
  color: #1ab8b0;
  font-weight: 800;
}

.home__other .other .route {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 16px;
}

@media (max-width: 440px) {
  .home__other .other .route {
    overflow-x: scroll;
    max-width: auto;
    padding: 8px 0;
    background-color: #313d42;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.home__other .other .route .route-link {
  color: white;
  margin: 0 15px;
  font-size: 18px;
}

.home__other .other .route .tag {
  position: absolute;
  top: -17px;
  word-spacing: 264px;
  color: #ffba24;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */